In [1]:
%cd ../

/u02/thanhhm/research-idea

In [2]:
import plasma.search_engines as ses
import pandas as pd
import plasma.logging as plogging

/u02/thanhhm/research-idea/.env/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_pickle('/u02/duy/workspace/xproject_as/databases/dav_supplement_db.pkl')

In [4]:
engine = ses.GraphMatcher(df['product_name'], top_k=5)

In [5]:
#query = 'hehe'
query = 'Calci Nano'

In [6]:
with plogging.Timer(log_func=None) as timer:
    results = engine.run(query)
results

0:00:00.246283

                                   data_index            original  \
query_start_index query_end_index
0                 10                     1053          CALCI NANO
                  10                     1441          Calci Nano
                  10                     5582       CALCI NANO+++
                  10                     1924  VIBOVIT CALCI NANO
                  10                     6638     Calci nano life
                  10                     1039       CALCI NANO IQ
                  10                     1870      Calci Nano MK7
                  10                     3658      CALCI NANO MK7

                                   substring_matching_score  matched_len  \
query_start_index query_end_index
0                 10                                    1.0            2
                  10                                    1.0            2
                  10                                    1.0            2
                  10                                    1.0            2
                  10                                    1.0            2
                  10                                    1.0            2
                  10                                    1.0            2
                  10                                    1.0            2

                                   coverage_score
query_start_index query_end_index
0                 10                     1.000000
                  10                     1.000000
                  10                     1.000000
                  10                     0.666667
                  10                     0.666667
                  10                     0.666667
                  10                     0.666667
                  10                     0.666667

In [7]:
from plasma.search_engines.graph_indexer import GraphIndexer

In [8]:
new_engine = GraphIndexer(df['product_name'])

In [9]:
with plogging.Timer(log_func=None) as timer:
    results = new_engine.run(query + '. Calcium')
results

0:00:00.347035

                                  data_index  \
query_start_idx query_end_idx
0               10            5         1053
                              6         1441
                              7         5582
                              8         5380
                              9         1924
6               16            12       10718
                              13        1247
                              14       30993
                              15       28540
                              16       24572
12              31            17         686
                              18         875
                              19        6478
                              20        4856
                              21       29746

                                                                     original  \
query_start_idx query_end_idx
0               10            5                                    CALCI NANO
                              6                                    Calci Nano
                              7                                 CALCI NANO+++
                              8                               Nano Calci Plus
                              9                            VIBOVIT CALCI NANO
6               16            12  Thực phẩm bảo vệ sức khoẻ BỔ GAN ONANO GOLD
                              13                                          Nan
                              14          Thực phẩm bảo vệ sức khỏe NAN OZINC
                              15            Thực phẩm bảo vệ sức khoẻ cốm Nao
                              16           Thực phẩm bảo vệ sức khỏe NAO CARE
12              31            17                                 MILK CALCIUM
                              18                                  UNI CALCIUM
                              19                                 CALCIUM FORT
                              20                                Calcium Forte
                              21                                CALCIUM FORTE

                                  substring_matching_score  coverage_score  \
query_start_idx query_end_idx
0               10            5                   1.000000        1.000000
                              6                   1.000000        1.000000
                              7                   1.000000        1.000000
                              8                   1.000000        0.666667
                              9                   1.000000        0.666667
6               16            12                  0.888889        0.100000
                              13                  0.857143        1.000000
                              14                  0.857143        0.125000
                              15                  0.857143        0.125000
                              16                  0.857143        0.125000
12              31            17                  1.000000        0.500000
                              18                  1.000000        0.500000
                              19                  1.000000        0.500000
                              20                  1.000000        0.500000
                              21                  1.000000        0.500000

                                  matched_len
query_start_idx query_end_idx
0               10            5             2
                              6             2
                              7             2
                              8             2
                              9             2
6               16            12            1
                              13            1
                              14            1
                              15            1
                              16            1
12              31            17            1
                              18            1
                              19            1
                              20            1
                              21            1