In [1]:
%cd ../

/u02/thanhhm/research-idea

In [2]:
import plasma.search_engines as ses
import pandas as pd
import plasma.logging as plogging

from scipy.stats import hmean

/u02/thanhhm/research-idea/.env/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_pickle('/u02/duy/workspace/xproject_as/databases/dav_supplement_db.pkl')
engine = ses.GraphMatcher(df['product_name'], top_k=5)

In [4]:
df

,product_name,license_number
0,Brain KBG,118
1,SUN COOL,147
2,Thymo Topone,150
3,Calci Nano Gold Topone,151
4,Salvia Topone,152
...,...,...
35528,Thực phẩm bảo vệ sức khỏe LIGARMIN Plus,28042018115450/0801092764-DKCB
35529,Thực phẩm bảo vệ sức khỏe EUCATOL FORTE,28042018094204/3700843113-DKCB
35530,Thực phẩm bảo vệ sức khỏe Tọa Cốt Nguyên Trang,28042018090429/0314873220-DKCB
35531,Thực phẩm bảo vệ sức khỏe Viên Bột Sâm Wisconsin,28042018114428/0305398057-DKCB
35532,Thực phẩm bảo vệ sức khỏe IDC HEPAGIN,28042018083215/0106671819-DKCB

In [5]:
#query = 'hehe'
query = 'Calci Nano'

In [6]:
results = engine.run(query)
results

                                     data_index         original  \
query_start_index query_end_index
0                 10              0        1053       CALCI NANO
                                  1        1441       Calci Nano
                                  2        5582    CALCI NANO+++
                                  3        1870   Calci Nano MK7
                                  4        3658   CALCI NANO MK7
                                  5        6483  Calci nano K2EU
                                  6        1039    CALCI NANO IQ
                                  7        6638  Calci nano life

                                     substring_matching_score  matched_len  \
query_start_index query_end_index
0                 10              0                       1.0            2
                                  1                       1.0            2
                                  2                       1.0            2
                                  3                       1.0            2
                                  4                       1.0            2
                                  5                       1.0            2
                                  6                       1.0            2
                                  7                       1.0            2

                                     coverage_score
query_start_index query_end_index
0                 10              0        1.000000
                                  1        1.000000
                                  2        1.000000
                                  3        0.666667
                                  4        0.666667
                                  5        0.666667
                                  6        0.666667
                                  7        0.666667

In [7]:
a = 'Người nộp i'
b = 'í nộp tiền/Pa'

In [8]:
engine = ses.GraphMatcher([b], group_splitter='([^\n]+)', tokenizer='(.)', top_k=1, token_threshold=1)

In [9]:
engine.run(a)

,,,data_index,original,substring_matching_score,matched_len,coverage_score
query_start_index,query_end_index,,,,,,
5,10,0,0,í nộp tiền/Pa,1.0,5,0.384615