In [1]:
%cd ../

/u02/thanh/workplace/plasma

In [2]:
import plasma.search_engines as ses
import pandas as pd
import plasma.logging as plogging
import numpy as np
import plasma.functional as F

from plasma.search_engines import GraphIndexer
from tqdm.auto import tqdm
from plasma.search_engines.indexer.column_standardizer import ColumnStandardizer

In [3]:
#db = pd.read_feather('/u02/thanh/workplace/as.tpa/databases/medical_device_db_v1.feather')['device_name']
db = ['000010069126', 'Mã BN: 0100061390']
#db

In [4]:
new_engine = GraphIndexer(db)

In [5]:
#query = 'hehe'
query = '0100061390'

In [6]:
with plogging.Timer() as timer:
    results = new_engine.run(query)
results

TimeIO(, [start=2026-01-20 11:05:04.984086, end=2026-01-20 11:05:04.995095, duration=0:00:00.011009], args=, kwargs=)

,,data_index,original,original_start,original_end,substring_matching_score,matched_len,coverage_score,harmonic_score
query_start_idx,query_end_idx,,,,,,,,
0,10,1,Mã BN: 0100061390,7,17,1.0,1,0.333333,0.5