In [1]:
%cd ../

/u02/thanh/workplace/plasma

In [2]:
import plasma.search_engines as ses
import pandas as pd
import plasma.logging as plogging
import numpy as np

from plasma.search_engines import GraphIndexer

In [3]:
db = pd.read_feather('test_db.feather')['medical_device_name']
db

0        Kim luồn tĩnh mạch có cánh, có cổng tiêm thuốc...
1        Bộ xét nghiệm IVD ACTH ( ACTH (03255751190_ACT...
2                  Bộ xét nghiệm IVD nồng độ cồn trong máu
3                                    Mặt nạ thở oxy có túi
4                             Môi trường nuôi cấy vi khuẩn
                               ...
70432    Đường dây nối dài xả thải tự động dùng cho máy...
70433                                      α-Amylase CC FS
70434                                               γδCult
70435                                          γδCult Mini
70436                                           “Biomdcare
Name: medical_device_name, Length: 70437, dtype: object

In [4]:
new_engine = GraphIndexer(db)

In [5]:
#query = 'hehe'
query = 'STERIMAR Sulphur'

In [6]:
with plogging.Timer(log_func=None) as timer:
    results = new_engine.run(query)
results

0:00:00.208073

,,data_index,original,original_start,original_end,substring_matching_score,matched_len,coverage_score,harmonic_score
query_start_idx,query_end_idx,,,,,,,,
0,16,57556,STERIMAR Sulphur 50ml/ 100ml,0,16,1.0,2,0.5,0.666667