In [1]:
%cd ../

/u02/thanhhm/research-idea

In [2]:
import plasma.search_engines as ses
import pandas as pd
import plasma.logging as plogging
import numpy as np

from plasma.search_engines.graph_indexer import GraphIndexer

/u02/thanhhm/research-idea/.env/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_pickle('/u02/duy/workspace/xproject_as/databases/dav_supplement_db.pkl')

In [4]:
#query = 'hehe'
query = 'Calci Nano' + '. Calcium'

In [5]:
new_engine = GraphIndexer(df['product_name'])

In [6]:
with plogging.Timer(log_func=None) as timer:
    results = new_engine.run(query)
results

0:00:01.461261

                               data_index          original  \
query_start_idx query_end_idx
0               10                   1053        CALCI NANO
                10                   1441        Calci Nano
                10                   5582     CALCI NANO+++
                10                   1870    Calci Nano MK7
                10                   3658    CALCI NANO MK7
12              19                    459  OSCAKIDS CALCIUM
                19                    455  BABYGROW CALCIUM
                19                   4856     Calcium Forte
                19                  29746     CALCIUM FORTE
                19                   5569       Calcium - D

                               substring_matching_score  coverage_score  \
query_start_idx query_end_idx
0               10                                  1.0        1.000000
                10                                  1.0        1.000000
                10                                  1.0        1.000000
                10                                  1.0        0.666667
                10                                  1.0        0.666667
12              19                                  1.0        0.500000
                19                                  1.0        0.500000
                19                                  1.0        0.500000
                19                                  1.0        0.500000
                19                                  1.0        0.500000

                               matched_len
query_start_idx query_end_idx
0               10                       2
                10                       2
                10                       2
                10                       2
                10                       2
12              19                       1
                19                       1
                19                       1
                19                       1
                19                       1